<div #burger class="burger" (click)="toggleMenu()">
    <div class="bar top"></div>
    <div class="bar middle"></div>
    <div class="bar down"></div>
</div>
<div #side class="side">
    <div class="title-side">
        <div class="filter">
            <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
    </div>
    <div class="nav-side">
        <p>Unidad 1 <img src="assets/icons/badge.svg"></p>
        <p class="lock">Unidad 2 <img src="assets/icons/grey-badge.svg"></p>
        <p class="lock">Unidad 3 <img src="assets/icons/grey-badge.svg"></p>
        <p class="lock">Unidad 4 <img src="assets/icons/grey-badge.svg"></p>
        <p class="lock">Unidad 5 <img src="assets/icons/grey-badge.svg"></p>
        <p class="lock">Unidad 6 <img src="assets/icons/grey-badge.svg"></p>
        <p class="lock">Unidad 7 <img src="assets/icons/grey-badge.svg"></p>
        <p class="lock">Unidad 8 <img src="assets/icons/grey-badge.svg"></p>
        <p class="lock">Unidad 9 <img src="assets/icons/grey-badge.svg"></p>
        <p class="lock">Unidad 10 <img src="assets/icons/grey-badge.svg"></p>
    </div>
    <div class="footer-side">
        <p>&copy; Sapiens Soluciones Tecnológicas</p>
    </div>
</div>
<div #overlay class="overlay" (click)="toggleMenu()"></div>