<div class="container fade-in">
    <div class="row titles">
        <h1>Título 1er Nivel</h1>
        <h2>Título 2o Nivel</h2>
        <h3>Título 3er Nivel</h3>
    </div>
    <div class="row">
        <div class="col w-100">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, officia culpa! Fugit sint doloremque labore vero totam voluptatem reprehenderit culpa error, et omnis? Repellendus totam harum autem quisquam exercitationem vitae sapiente velit, in eius beatae quae distinctio ratione quibusdam nemo quia numquam assumenda reprehenderit, nisi cumque maxime? Debitis dolorem ducimus veritatis, itaque minus voluptatem eum eos pariatur nemo quibusdam dolores temporibus esse doloremque illum velit ipsam vitae hic! Culpa, sapiente? Modi cupiditate veniam numquam quo laborum laudantium, voluptates id ab expedita ex qui, ducimus hic. Accusantium qui culpa in fugit asperiores esse totam ratione quasi officiis eaque veniam, rerum nesciunt!</p>
            <p>Lorem ipsum dolor sit <b>amet consectetur adipisicing</b> elit. Similique pariatur ullam eius, doloremque, laboriosam asperiores qui illo animi et ducimus saepe sunt aspernatur magnam quidem tempora impedit, dolore nesciunt. Exercitationem, porro? Neque eaque quae corporis necessitatibus possimus ratione modi illum laboriosam quas alias a quo voluptate rem enim pariatur perspiciatis inventore, quidem accusamus reiciendis, praesentium voluptas! Architecto iusto, autem itaque alias amet reprehenderit sed sunt dolore incidunt voluptate deserunt, debitis consectetur dignissimos excepturi animi vel maiores iste praesentium suscipit. Possimus sapiente dicta mollitia totam, unde nemo necessitatibus. Suscipit non earum ullam odio iste mollitia voluptatibus magni minus nam provident! Quibusdam.</p>
        </div>
    </div>
    <div class="row titles">
        <h2>Enlaces estándar</h2>
    </div>
    <div class="row">
        <div class="col w-100">
            <p>Accede <a href="http://sapienslearning.com" target="_blank">aquí</a> a toda la información.</p>
        </div>
    </div>
    <div class="row titles">
        <h2>Layout en columnas</h2>
    </div>
    <div class="row flex">
        <div class="col w-50">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ut neque officia eaque est fugiat ab nostrum atque repudiandae et, omnis quidem a iste, sapiente amet saepe voluptatem odit illum magnam iusto aliquam cum ipsum perspiciatis dicta! Nobis excepturi optio, corporis harum voluptates perspiciatis ut est molestias, error sequi expedita. Odio deleniti similique provident excepturi iusto, aliquid voluptatem nihil eaque.</p>
        </div>
        <div class="col w-50">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, dolorum. Consequatur vero officia eum tempora? Corrupti, velit doloremque dolore explicabo molestiae expedita voluptates veritatis a iste? Consequatur quis eos, expedita voluptatum aliquam nihil nobis quasi velit nemo asperiores dicta blanditiis?</p>
        </div>
    </div>
    <div class="row flex">
        <div class="col w-50">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ut neque officia eaque est fugiat ab nostrum atque repudiandae et, omnis quidem a iste, sapiente amet saepe voluptatem odit illum magnam iusto aliquam cum ipsum perspiciatis dicta! Nobis excepturi optio, corporis harum voluptates perspiciatis ut est molestias, error sequi expedita. Odio deleniti similique provident excepturi iusto, aliquid voluptatem nihil eaque.</p>
        </div>
        <div class="col w-50">
            <img src="https://i.picsum.photos/id/1036/720/600.jpg" alt="">
        </div>
    </div>
    <div class="row titles">
        <h2>Posicionamiento dentro de columnas</h2>
    </div>
    <div class="row flex">
        <div class="col w-33">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus cupiditate odit, officia numquam, similique, saepe ratione harum perspiciatis maiores amet blanditiis! Exercitationem error unde perspiciatis veniam at nisi atque totam iusto alias vero, qui laboriosam adipisci modi dicta deleniti quo expedita labore facere ab? Rem soluta dignissimos natus odit voluptatem optio perspiciatis, non expedita impedit quidem qui, nam neque quos eos cumque beatae repudiandae sequi inventore reiciendis aliquam cupiditate error?</p>
        </div>
        <div class="col w-33 center-center">
            <img style="height: 100px" src="assets/icons/facebook.svg" alt="">
        </div>
        <div class="col w-33 bottom-right">
            <img style="height: 100px" src="assets/icons/facebook.svg" alt="">
        </div>
    </div>
</div>